{%extends "main/base.html"%}
{% block title%}MyProfile{%endblock title%}

{% block banner%}{%endblock%}
{% block main-content%}
{% comment %} <form method='POST' action'/'> 
    {%csrf_token%} 
   <input hidden type='text' name='username' value={{request.username}}> 
</form> {% endcomment %}

<div class="profile-page">
   <h6 class="customer_taital">My Profile</h6>
   {%if profile and not is_edit%}
      <div class="profile-image">
         <img src="{{MEDIA_ROOT}}/{{profile.profile_image}}" class="rounded-circle border" >
      </div>
      <div class="profile-info">

         <label class="label-bold">Username :</label>{{profile.username}}
         <br>
         <label  class="label-bold">Email :</label>
         {{profile.email}}
         <br>
         <label  class="label-bold">Address :</label>
         {{profile.address}}
         <br>
         <label  class="label-bold">Contact :</label>
         {{profile.contact}}
         {%else%}
         <label  class="label-bold">Username :</label>
         {{profile2.user}}
         <br>
         <label  class="label-bold">Company Name :</label>
         {{profile2.company_name}}
         <br>
         <label  class="label-bold">Address :</label>
         {{profile2.address}}
         <br>
         <label  class="label-bold">Contact :</label>
         {{profile2.phone}}
         <br>
         {% endif %}
         </div>
         <!-- <form method='POST' action='/editProfile/'> -->
         <!-- <input hidden name="profile" value="profile.username"></input> -->
         <a href="{% url 'editProfile' request.user %}"> Edit </a>
         </form>
      </div>
 

{% endblock%}   

{%block contact%}{% endblock%}
{% block customer%}{% endblock%}
{% block about%}{% endblock%}
{%block last%}{% endblock%}
{%block copyright%}{% endblock%}

