{%extends "main/base.html"%}
{% block banner%}{%endblock%}
{%block main-content%}
<div class="about_section layout_padding">
   <div class="container">
      <div class="about_section_main">
         <div class="row">
            <div class="col-md-6">
               <div class="about_taital_main">
                  <form method='POST' action='/acc/add-product-to-db/' enctype="multipart/form-data">
                  {%csrf_token%}
                  {% for i in product_form %}
                     <div>
                        <label class="required">{{i.label}}</label>
                        {{i}}
                     </div>
                  {% endfor %}
                  {% if messages %}
                  {% for message in messages %}
                  <h3><div class="alert alert-{{ message.tags }}">{{ message }}</div></h3>
                  {% endfor %}
                  {% endif %}
                  <button>ADD PRODUCT</button>
                  </form>
                  <script>
                     ele=document.getElementById('id_decription');
                     ele.rows="3";
                  </script>
               </div>
            </div>
            <div class="col-md-6">
               <div><img src="/static/images/about-img.png" class="image_3"></div>
            </div>
         </div>
      </div>
   </div>
</div>
{%endblock%}



{%block contact%}{% endblock%}
{% block customer%}{% endblock%}
{% block about%}{% endblock%}