{%extends "main/base.html"%}

{%block header%}{%endblock%}
{% block banner%}{%endblock%}
{% block main-content%}<script>
   function confirmDelete() {
       var result = confirm("Are you sure you want to delete this product?");
       if (result) {
           return true;
       } else {
           return false;
       }
   }
   </script>
<div class="about_section layout_padding">
   <div class="container">
      <div class="about_section_main">
         <div class="row">
            <div class="col-md-6">
               <div class="about_taital_main">

                  <form method='POST' action='/removeProduct/'>
                     {%csrf_token%}
                     <section class="section-products">
                            <div class="row">
                                <!-- Single Product -->
                                <table>
                                {%for i in products %}
                                <tr>
                                              <td style='width:5000px;'><img style='width:1000px;height:200px;' src='{{MEDIA_ROOT}}/{{i.product_image}}'  alt="..."></td>
                                              <h5 class="card-title"></h5>
                                      <td><p class="card-text">{{i.description}}</p></td>
                                      <td><h3 class="price_text" style="color:black;">Price Rs.</h3></td>
                                        
                                        </div>
                                        <div class="part-2">
                                         <td><h3 class="price_text" style="color:black;">{{i.quantity}} avialable</h3></td>
                                            <td><h3 class="product-title">{{i.product_name}}</h3></td>
                                            <td><h3 hidden class="product-title" value='{{i.product_id}}' name="'id"></h3></td>
                                            <td><h4 class="product-price">Rs.{{i.price}}</h4></td>
                                      
                                            {% if request.user.is_authenticated %}
                                       <td><button onclick="return confirmDelete()" style="width:70px;height:20px;">REMOVE PRODUCT</button></td>
                                        {%endif%} 
                                   
                                </tr>
                      {%endfor%}
                              </table>
                      
                     
                      </section>
                  </form>

</div>{% endblock%}

{%block footer%}{% endblock%}
{%block contact%}{% endblock%}
{% block customer%}{% endblock%}
{% block about%}{% endblock%}