.checkout_page .mydiv {
    position:left;
    width:50%;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    /* height: 100%; */
}
.checkout_page .mydiv #checkout{
  
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #000;
}

.checkout_page .mydiv_right{
    position:right;
    width:50%;  
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    /* height: 100%; */
}

.checkout_page{
    display: flex;
    height: 100%;
    margin: 30px 30px;
    justify-content: center;
    /* align-items: center; */
}

.checkout_page .mydiv_header{
    width: 100%;
}