<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/returnpage.css">
</head>
<body>
    <section class="c-container">
  
        <div class="o-circle c-container__circle o-circle__sign--success">
          <div class="o-circle__sign"></div>  
        </div>   
        <div class="center-text"><h1>SUCCESS</h1></div>
        <div class="center-text">
            <a href="{% url 'index' %}">
              <button>HOME</button>
            </a>
          </div>
          
    </section>
    
</body>
</html>